/*
 * Put your solution to problem 2 here
 */
.cell {
  background-color: lightcoral;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  float: left;
  height: 60px;
  line-height: 60px;
  margin: 2%;
  text-align: center;
  vertical-align: middle;
  width: 60px;
}
.cell:hover {
  background-color: cornflowerblue;
  cursor: pointer;
  font-size: 300%;
}

.clear {
  clear: both;
}

.empty {
  visibility: hidden;
}
