<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src='todo.js'></script>
    <script src='browns.js'></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- La compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href='todo.css'>
  </head>

  <body>
    <div class='menu '>
      <ul>
        <li class='item'><img src="http://i.stack.imgur.com/KVkTq.jpg" style="width: 20px"></li>
        <li class='item'><span class='glyphicon glyphicon-list-alt'></span> Todos</li>
        <li class='item'><span class='glyphicon glyphicon-plus'></span> Add</li>
        <li class='item'><span class='glyphicon glyphicon-pencil'></span> Edit</li>
        <li class='item'><span class='glyphicon glyphicon-cog'></span> More</li>
      </ul>
    </div>

    <div class=' container-fluid'>
      <div id='alert'></div>
      <div class='jumbotron'>
        <h1 class='text-center'>Todo List</h1>
        <hr/>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut cursus lorem dapibus, volutpat turpis eget, eleifend ante. Nunc eget lacinia eros, ut semper enim. Donec quis sem purus. Nulla facilisi. Sed eget laoreet mi. Suspendisse eu egestas libero. Vivamus eleifend dignissim interdum. Integer luctus tellus at interdum ultrices.

        In sit amet rhoncus turpis. Cras feugiat augue sit amet est facilisis vulputate. In ut egestas orci, eu fringilla nunc. Mauris in elementum sapien, sed aliquet enim. Duis iaculis gravida orci in hendrerit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nulla at placerat elit.</p>
      </div>
      <div ng-app='Todo' >
        <div ng-controller='TodoCtrl as todoCtrl'>
          <table id='todoTable' class='table table-striped' ng-show='todoCtrl.todos.length > 0'>
            <thead class='thead-default'>
              <tr>
                <td>Todo</td>
                <td>Action</td>
                <td>Date</td>
                <td>User</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='todo in todoCtrl.todos'>
                <td ng-hide='true'>{{todo.id}}</td>
                <td>{{todo.todo}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.date | date}}</td>
                <td>{{todo.user}}</td>
                <td>
                  <button ng-click='todoCtrl.editTodo(todo)'>Edit</button>
                  <button ng-click='todoCtrl.deleteTodo(todo)'>Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <form ng-show='todoCtrl.edit'>
            <table>
              <tr>
                <td ng-hide='true'><input type='text' ng-model="todoCtrl.selected.id"></td>
                <td><input type='text' ng-model="todoCtrl.selected.todo"></td>
                <td><input type='text' ng-model="todoCtrl.selected.description"></td>
                <td><input type='text' ng-model="todoCtrl.selected.date"></td>
                <td><input type='text' ng-model="todoCtrl.selected.user"></td>
                <td>
                  <button ng-click='todoCtrl.saveTodo(todoCtrl.selected.id)'>Save</button>
                </td>
                <td>
                  <button ng-click='todoCtrl.resetSelected()'>Cancel</button>
                </td>
              </tr>
            </table>
          </form>

          <h1 class='h1'>Add Todo</h1>
          <form name='addTodo' class='form-inline' id='add'>
            <div class='form-group'>
              <label for='todo' class='sr-only'>Todo</label>
              <input ng-model='todoCtrl.todo' type='text' class='form-control' id='todo' placeholder='Todo...'></input>
            </div>
            <br>
            <textarea ng-model='todoCtrl.description' id='description' rows='2' class='form-control' placeholder='Provide details of what needs to be done...'></textarea>
            <br>
            <div class='checkbox'>
              <label> <input ng-model='todoCtrl.check' id='completion' type='checkbox'> Do Right Away?</label>
            </div>
            <br><br> <div class='form-group'> <span ng-show='addTodo.user.$invalid'>Email Address is required.</span><br>
              <label for='emailaddress' class='sr-only'>Email Address</label>
              <input ng-model='todoCtrl.user' name='user' type='email' class='form-control' id='emailaddress' placeholder='Enter email'></input>
            </div><br>
            <button ng-enable='addTodo.user.$touched && addTodo.user.$valid' ng-click="todoCtrl.addTodo()" type='button' class='btn btn-default'>Add Todo</button>
          </form>
        </div>
      <br>
        <div id='schedule' ng-controller='BrownsCtrl as browns'>
          <button ng-click='browns.buildSchedule() 'id='browns' type='button' class='btn btn-primary'>BROWNS</button>
          <table ng-show='browns.schedule.length > 0' id='scheduleTable' class='table'>
            <thead class='thead-default'>
              <tr>
                <td>Home Team</td>
                <td>Away Team</td>
                <td>Date</td>
                <td>Time</td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='game in browns.schedule'>
                <td>{{game.homeTeam.City}} {{game.homeTeam.Name}}</td>
                <td>{{game.awayTeam.City}} {{game.awayTeam.Name}}</td>
                <td>{{game.date | date}}</td>
                <td>{{game.time}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </body>
</html>
